name: Build Rust Native

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      # 1. Setup môi trường Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      
      - run: cd frontend && npm install

      # 2. Setup môi trường Rust
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      # 3. Cache Rust (Để lần sau build nhanh hơn)
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: frontend/src-tauri
          prefix-key: "rust-native-v1"

      # 4. Build App
      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: "./frontend"
          args: "--target x86_64-pc-windows-msvc"

      # 5. Upload File Kết quả
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SecondBrain-App
          path: |
            frontend/src-tauri/target/x86_64-pc-windows-msvc/release/frontend.exe
            frontend/src-tauri/target/x86_64-pc-windows-msvc/release/WebView2Loader.dll